.dish__item {
  max-width: 100%;
  background-color: var(--card-b-color);
  list-style: none;
  cursor: pointer;
  position: relative;
}

.dish__hr {
  display: none;
}

.dish__image {
  max-width: 100%;
  min-height: 150px;
}

.dish__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 16px 0px;
  height: 260px;
}

.dish__name {
  font-weight: 400;
  align-items: flex-start;
  font-size: var(--card-title-B-size=18px);
  letter-spacing: var(--card-B-letter);
  margin: 24px 16px 8px;
}
.dish__description {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 1.97px;
  margin: 0 16px 20px;
  text-overflow: ellipsis;
  width: 210px;
}

.dish__price_wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  bottom: 0px;
  left: 24px;
}

.dish__type {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.97px;
}

@media screen and (min-width: 1024px) {
  .dish__item {
    width: 379px;
    height: 654px;
  }

  .dish__image {
    width: 380px;
    height: 306px;
  }
  .dish__wrapper {
    align-items: center;
    justify-content: center;
  }

  .dish__name {
    font-size: var(--card-title-B-size);
  }

  .dish__description {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 42px;
    height: 176px;
  }

  .dish__price_wrap {
    flex-direction: row;
    gap: 8px;
    bottom: 8px;
    height: 30px;
  }

  .dish__hr {
    display: block;
    width: 112px;
    color: #979797;
  }

  .dish__type {
    font-size: 24px;
    line-height: 30px;
  }
}
