@import '../../globalStyle.scss';

.dish__item {
  max-width: 245px;
  height: 388px;
  background-color: var(--card-b-color);
  list-style: none;
  position: relative;
}

.dish__hr {
  display: none;
}

.dish__image {
  width: 100%;
  max-height: 150px;
}

.dish__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 16px 0px;
  // height: 260px;
}

.dish__name {
  font-weight: 400;
  align-items: flex-start;
  font-size: var(--card-title-B-size=18px);
  letter-spacing: var(--card-B-letter);
}

.dish__description {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 1.97px;
  overflow-wrap: anywhere;
  // overflow: scroll;
  // width: 210px;
  // height: 120px;
  margin: 0;
}

.dish__price_wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // gap: 8px;
  bottom: 0px;
  left: 16px;
  right: 0;
  // margin: 0 16px;
}
.icons-dish__wrapper{
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.dish__type {
  font-size: 16px;
  height: 17px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.97px;
}
.dish__type_mobile{
  margin: 10px 0;
}

@include desktop {
  .dish__item {
    max-width: 379px;
    height: 600px;
  }

  .dish__image {
    // width: 380px;
    max-height: 240px;
  }
  .dish__wrapper {
    align-items: center;
    justify-content: center;
    // height: 300px;
  }

  .dish__name {
    font-size: var(--card-title-B-size);
    margin: 24px 26px 8px;
    text-align: center;
  }

  .dish__description {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
        // height: 150px;
  }

  .dish__price_wrap {
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 8px;
    bottom: 8px;
    // height: 30px;
  }

  .dish__hr {
    display: block;
    width: 112px;
    color: #979797;
  }

  .dish__type {
    font-size: 24px;
    line-height: 30px;
    height: 28px;
  }
  .icons-dish__wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .dish__type_mobile{
    margin: 0;
  }
}
