@import '../../globalStyle.scss';

.chef {
  margin: 0 0 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
}

.chef__title {
  font-size: var(--card-title-S-size=18px);
  line-height: 35px;
  text-align: left;
  letter-spacing: --card-S-letter;
  text-transform: uppercase;
  font-weight: var(--card-f-S-weight);
  margin-left: 16px;
}
.chef__image_wrap {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 16px;
}

.chef__intro {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.chef__image {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

.hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: 400;
  font-size: var(--card-title-B-size=18px);
  line-height: 47px;
  text-align: center;
  letter-spacing: var(--card-B-letter);
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  height: 78px;
  left: 0;
  right: 0;
}
.chef__description {
  font-weight: var(--card-f-S-weight);
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  letter-spacing: var(--card-S-letter);
  text-overflow: ellipsis;
}

.chef__res {
  font-weight: var(--card-f-S-weight);
  font-size: var(--card-title-S-size=18px);
  line-height: 35px;
  letter-spacing: var(--card-S-letter);
  text-transform: uppercase;
  margin: 32px 0 45px;
  margin-left: 16px;
}
.chef__res-item {
  background-color: var(--card-b-color);
  text-align: left;
  margin-left: 16px;
  cursor: pointer;
  max-width: 100%;
}

.chef__res-name {
  font-weight: 400;
  font-size: var(--card-title-S-size);
  line-height: 47px;
  letter-spacing: var(--card-B-letter);
  margin: 16px 0;
  margin-left: 10px;
  padding-bottom: 44px;
  text-overflow: ellipsis;
}

.chef__res-image {
  height: 250px;
}

.chef__res_name_wrap {
  overflow: hidden;
}

.about__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chef__list_ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

@include desktop {
  .chef {
    margin: 0 126px;
  }

  .chef__title {
    font-size: var(--card-title-S-size);
    text-align: center;
  }

  .chef__intro {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    gap: 63px;
  }

  .chef__image {
    position: relative;
    width: 100%;
    height: 372px;
  }

  .hide {
    font-weight: 400;
    font-size: var(--card-title-B-size);
    line-height: 47px;
    text-align: center;
    height: 78px;
  }

  .chef__description {
    font-size: 24px;
    line-height: 35px;
    max-width: 642px;
  }

  .chef__res {
    font-size: var(--card-title-S-size);
    text-transform: capitalize;
    margin: 40px 20px 45px;
  }

  .chef__res-item {
    width: 231px;
    height: 357px;
    text-align: center;
  }

  .chef__res-name {
    line-height: 47px;
    margin: 20px 0;
  }

  .chef__res-image {
    width: 231px;
    height: 224px;
  }
}
