@import '../../globalStyle.scss';
.restaurant {
  max-width: 100%;
  margin-left: 16px;
  margin-top: 80px;
}
.restaurant__container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}
.restaurant__title {
  font-style: normal;
  font-weight: var(--card-f-S-weight);
  font-size: var(--card-title-S-size=18px);
  line-height: 24px;
  text-align: center;
  letter-spacing: var(--card-S-letter);
  text-transform: uppercase;
  margin: 0 8px 40px;
}
.restaurant__button {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0px;
  cursor: pointer;
  margin-top: 30px;
}
.restaurant__button_wrap {
  display: flex;
}

.restaurant__button_arrow {
  height: 12px;
  width: 24px;
}

@include desktop {
  .restaurant__title {
    font-size: var(--card-title-S-size);
    line-height: 35px;
    margin: 80px 0px 40px;
  }

  .restaurant__button {
    font-size: 24px;
    margin-top: 41px;
  }

  .restaurant__button_wrap {
    display: flex;
    justify-content: flex-end;
  }

  .restaurant__button_arrow {
    height: 18px;
    width: 24px;
  }
}
