.about {
  background-color: #fafafa;
  height: 529px;
  max-width: 40px 0;
}

.about__container {
  margin: 40px 126px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.about__title {
  font-weight: var(--card-f-S-weight);
  font-size: var(--card-title-S-size);
  line-height: 35px;
  letter-spacing: 2.14px;
  text-transform: uppercase;
}

.about__description {
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2.14px;
  width: 569px;
  height: 300px;
  text-overflow: ellipsis;
  margin: 16px 0px;
}

.about__log {
  height: 166px;
  width: 178px;
}

.about__link {
  border: none;
  background-color: transparent;
}
