@import '../globalStyle.scss';
.slick-slider .slick-slide {
  padding: 0 24px;
  overflow: hidden;
  padding-left: 0;
}

@include desktop {
  .slick-list{
    margin: 0 126px;
}
  }
  .slick-slider  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: 0;

}
