.modal__cart {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    width: 497px;
    height: 586px;
    box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);
    z-index: 2;
    right: 0;
    top: 64px;
    background-image: url('../../assets/images/cart-empty.svg');
    background-position: center;
    background-repeat: no-repeat;
  }