@import '../../globalStyle.scss';

%header-button-mobile {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.header {
  height: 46px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 20px;
}

.header__nav_mobile {
  width: 24px;
  height: 24px;
}
.header__mobile_wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
.header__logo_mobile {
  height: 32px;
  width: 32px;
}

.header__logo_desk {
  display: none;
}

.header__nav {
  display: none;
}

.header__icons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 0;
  flex: 1;
}

.header__icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}
.header__button {
  padding: 0;
}

.header__button_cart {
  @extend %header-button-mobile;
  background-image: url('../../assets/images/cart.svg');
}

.header__button_personal {
  @extend %header-button-mobile;
  background-image: url('../../assets/images/personal.svg');
  opacity: 0.4;
  cursor: default;
}
.header__button_search {
  @extend %header-button-mobile;
  background-image: url('../../assets/images/search.svg');
}

@include desktop {
  %header-button {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  .header {
    height: 64px;
    position: relative;
  }

  .header__container {
    margin: 0 130px;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
  }

  .header__logo_desk {
    width: 162px;
    height: 33px;
    margin-right: 32px;
    display: block;
  }

  .header__nav {
    display: flex;
    gap: 32px;
  }

  .header__nav-item {
    text-decoration: none;
    font-weight: var(--card-f-S-weight);
    font-size: 18px;
    line-height: 22px;
    // color: black;
    letter-spacing: 1.92px;
    background-color: transparent;
    border: none;
  }

  .header__icons {
    gap: 25px;
  }

  .header__button_cart {
    @extend %header-button;
  }

  .header__button_personal {
    @extend %header-button;
    opacity: 0.4;
    cursor:default;
  }
  .header__button_search {
    @extend %header-button;
    opacity: 0.4;
    cursor: default;
  }

  .header__mobile_wrapper {
    display: none;
  }

  .header__logo_mobile {
    display: none;
  }
}
