@import '../../globalStyle.scss';

.icons {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  align-items: center;
  margin: 48px 0 ;
}

.icons__title {
  display: none;
}
.icons__title_mobile {
  font-weight: var(--card-f-S-weight);
  font-size: var(--card-title-S-size=18px);
  line-height: 35px;
  text-align: center;
  letter-spacing: var(--card-S-letter);
  text-transform: uppercase;
}

.icons__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 57px;
  list-style: none;
  padding: 0;
}

.icons__name {
  font-weight: var(--card-f-S-weight);
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.97px;
}


@include desktop {
  .icons {
    height: 265px;
  }

  .icons__title {
    font-size: var(--card-title-S-size);
    letter-spacing: 2.14px;
  }

  .icons__wrapper {
    flex-direction: row;
    gap: 40px;
  }

  .icons__name {
    font-size: 24px;
    line-height: 30px;
  }
}
