:root {
  --card-title-B-size: 40px;
  --card-title-S-size: 30px;
  --card-b-color: #f9f4ea;
  --card-t-color: rgb(0, 0, 0);
  --card-f-B-weight: 400;
  --card-f-S-weight: 200;
  --card-B-letter: 2.67px;
  --card-S-letter: 1.25px;
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
